PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai_aur_code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai_aur_code
REFRESH_TOKEN_EXPIRY=10d
